*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100.05%;
}

body {
  font-size: 1em;
  min-height: 100.05%;
  background: #2e3131;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn, button {
  font-family: inherit;
  display: inline-block;
  padding: 0;
  border: none;
  color: inherit;
  background: none;
  font-size: 1rem;
  margin: 0;
  line-height: 1;
}
.btn:focus, button:focus,
.btn:hover, button:hover {
  text-decoration: none;
}